<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php">
    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
        <exclude>
            <directory>./vendor/</directory>
            <directory>./tests/</directory>
        </exclude>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <!-- define your env variables for the test env here -->
    </php>
    <testsuites>
        <testsuite name="LocasticApiPlatformTranslation Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
